@foreach (KeyValuePair<string, object> kvp in Store["Task"])
{
    <tr>
        <td>@kvp.Key</td>
        @if (kvp.Value is Hl7.Fhir.Model.Task t)
        {
            <td>@t.Status</td>
            <td>@string.Join(", ", t.Code.Coding.Select(c => $"{c.System}|{c.Code}"))</td>
            <td></td>
        }
        else
        {
            <td>-</td>
            <td>-</td>
            <td></td>
        }
    </tr>
}

@code {
    /// <summary>Gets or sets the navigation tracker.</summary>
    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    /// <summary>Gets or sets the name of the store.</summary>
    [Parameter]
    public string StoreName { get; set; } = string.Empty;

    /// <summary>Gets or sets the package name.</summary>
    [Parameter]
    public IFhirStore Store { get; set; } = null!;
}
